<div class="cliente-list-container">
  <div class="header-bar">
    <h2>Lista de Clientes</h2>
    <button
      pButton
      icon="pi pi-plus"
      label="Novo"
      class="p-button-rounded p-button-sm p-button-primary"
      [routerLink]="['/clientes/novo']"
    ></button>
  </div>

  <p-table
    [value]="clientes"
    [paginator]="true"
    [rows]="10"
    [responsiveLayout]="'scroll'"
    class="p-datatable-sm shadow-table"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Documento</th>
        <th>Telefone</th>
        <th>Endereço</th>
        <th class="acoes-header">Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cliente>
      <tr>
        <td>{{ cliente.nome }}</td>
        <td>{{ cliente.tipoCliente }}</td>
        <td>{{ cliente.documento }}</td>
        <td>{{ cliente.telefone }}</td>
        <td>{{ cliente.endereco }}</td>
        <td class="acoes">
          <button
            pButton
            icon="pi pi-pencil"
            class="p-button-text p-button-sm p-button-rounded p-button-info"
            [routerLink]="['/clientes/editar', cliente.id]"
            pTooltip="Editar"
            tooltipPosition="top"
          ></button>
          <button
            pButton
            icon="pi pi-trash"
            class="p-button-text p-button-sm p-button-rounded p-button-danger"
            (click)="excluir(cliente.id)"
            pTooltip="Excluir"
            tooltipPosition="top"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
